@tailwind base;
@tailwind components;
@tailwind utilities;


.rdt_TableCol,
.fXCAyl {
   background-color: #0077bc !important;
   color: #fff !important;
 }

 .sideBarNav::-webkit-scrollbar{
   display: none;
 }


 .print::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'Cairo, sans-serif'
}